@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

body {
  font-family: "Inter", sans-serif;
}

.year-animation {
  animation: fadeIn 0.5s ease-in-out;
}

.card_primary_background {
  background: linear-gradient(
    149.64deg,
    rgba(25, 25, 25, 0.77) 21.24%,
    rgba(14, 14, 14, 0.77) 105.43%
  );
}

.card_primary_background:hover {
  background: linear-gradient(
    150.16deg,
    rgba(45, 45, 45, 0.77) 25.13%,
    rgba(0, 0, 0, 0.77) 105.45%
  );
}

.growth_background {
  background: linear-gradient(
    149.64deg,
    rgba(25, 25, 25, 0.77) 21.24%,
    rgba(14, 14, 14, 0.77) 105.43%
  );
}

.job_opening_card {
  background: linear-gradient(
    149.64deg,
    rgba(25, 25, 25, 0.77) 21.24%,
    rgba(14, 14, 14, 0.77) 105.43%
  );
}

.input-background_primary {
  background: linear-gradient(
    97.49deg,
    rgba(255, 255, 255, 0.18) -18.1%,
    rgba(29, 28, 28, 0.18) 109.71%
  );
}

.input-background_secondary {
  background: linear-gradient(
    149.64deg,
    rgba(25, 25, 25, 0.56) 21.24%,
    rgba(14, 14, 14, 0.56) 105.43%
  );
  backdrop-filter: blur(9px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }
}
