@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

body {
  font-family: "Inter", sans-serif;
}

.year-animation {
  animation: fadeIn 0.5s ease-in-out;
}

.input-background_primary {
  background: linear-gradient(
    97.49deg,
    rgba(255, 255, 255, 0.18) -18.1%,
    rgba(29, 28, 28, 0.18) 109.71%
  );
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }
}
